body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #1d1d1d;
  margin: 0;
  padding: 100px;
}

h1 {
  margin-bottom: 20px;
  color: #ccc;
}

.slideshow-container {
  width: 50%;
  height: 50vh;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 0px;
  border: 0px solid #ccc;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  opacity: 0;
}

img.show {
  opacity: 100;
}

#controls {
  margin-top: 20px;
  color: #ccc;
}

input[type="range"] {
  width: 300px;
  margin: 10px 0;
}

input[type=range].custom-slider {
  -webkit-appearance: none;
  padding: 0;
  outline: none;
  color: #069;
  opacity: .8;
  background: #78d600;
  border-radius: 50px;
  transition: opacity .2s;
  cursor: pointer;
}


.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}